In [30]:
data1=["I like this Book. Do you like this BOOK",
       "This book is good. I like reading this book",
       "I didn't like the book",
       "I did not like the book",
      "Reading books is my hobby",
       "Start jumping","He jumps out of window",
       "I jumped into the lake"]

In [15]:
data2=['I live in south africa. I love south africa', 'I live in South Africa',
       'I am from Nigeria. Nigeria is a beatiful country']

In [22]:
from sklearn.feature_extraction.text import CountVectorizer

In [32]:
cv=CountVectorizer()
new_data=cv.fit_transform(data1)
new_data

<8x25 sparse matrix of type '<class 'numpy.int64'>'
	with 36 stored elements in Compressed Sparse Row format>

In [33]:
new_data.toarray()

array([[2, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0,
        2, 0, 1],
       [2, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
        2, 0, 0],
       [1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0],
       [1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
        0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
        0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0]], dtype=int64)

In [34]:
new_data.shape

(8, 25)

In [35]:
new_data.ndim

2

In [36]:
cv.get_feature_names_out()

array(['book', 'books', 'did', 'didn', 'do', 'good', 'he', 'hobby',
       'into', 'is', 'jumped', 'jumping', 'jumps', 'lake', 'like', 'my',
       'not', 'of', 'out', 'reading', 'start', 'the', 'this', 'window',
       'you'], dtype=object)

In [37]:
import pandas as pd
df=pd.DataFrame(new_data.toarray(),columns=cv.get_feature_names_out())
df

,book,books,did,didn,do,good,he,hobby,into,is,...,my,not,of,out,reading,start,the,this,window,you
0,2,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,1
1,2,0,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,2,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1,0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,0,1,0,0,0,0,0,1,0,1,...,1,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,1,0,0,0,...,0,0,1,1,0,0,0,0,1,0
7,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [26]:
pd.options.display.max_columns=30

In [38]:
import nltk

In [43]:
nltk.download('wordnet')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\nilay\AppData\Roaming\nltk_data...

True

In [39]:
from nltk.stem import WordNetLemmatizer
wnl = WordNetLemmatizer()

In [40]:
wnl.lemmatize('dogs')

'dog'

In [43]:
wnl.lemmatize('boxes')

'box'

In [44]:
wnl.lemmatize('leaves')

'leaf'

In [41]:
wnl.lemmatize('books')

'book'

In [45]:
wnl.lemmatize('better')

'better'

In [48]:
wnl.lemmatize('crying')

'cry'

In [49]:
wnl.lemmatize('jumped')

'jumped'

In [51]:
from nltk.stem import PorterStemmer

In [52]:
stemmer=PorterStemmer()
stemmer.stem("jumped")

'jump'

In [53]:
stemmer.stem("better")

'better'

In [57]:
from nltk.corpus import stopwords

In [58]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
stopwords_list=["has","me","i"]

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [65]:
tfidf=TfidfVectorizer()

In [66]:
t=tfidf.fit_transform(data1)
t

<8x25 sparse matrix of type '<class 'numpy.float64'>'
	with 36 stored elements in Compressed Sparse Row format>

In [67]:
t.toarray()

array([[0.44763681, 0.        , 0.        , 0.        , 0.35298106,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.44763681,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.59165135, 0.        , 0.35298106],
       [0.47181237, 0.        , 0.        , 0.        , 0.        ,
        0.37204453, 0.        , 0.        , 0.        , 0.31180235,
        0.        , 0.        , 0.        , 0.        , 0.23590618,
        0.        , 0.        , 0.        , 0.        , 0.31180235,
        0.        , 0.        , 0.6236047 , 0.        , 0.        ],
       [0.41565659, 0.        , 0.        , 0.65552652, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.41565659,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.47407192, 0.        , 0.        , 0.        ],
       [0.34762414, 0.        , 0.54823344, 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.34762414,
        0.        , 0.54823344, 0.        , 0.        , 0.        ,
        0.        , 0.39647836, 0.        , 0.        , 0.        ],
       [0.        , 0.4764742 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.4764742 , 0.        , 0.39932256,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.4764742 , 0.        , 0.        , 0.        , 0.39932256,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.70710678, 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.70710678, 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.4472136 , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.4472136 , 0.        , 0.        ,
        0.        , 0.        , 0.4472136 , 0.4472136 , 0.        ,
        0.        , 0.        , 0.        , 0.4472136 , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.53277424, 0.        ,
        0.53277424, 0.        , 0.        , 0.53277424, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.38529838, 0.        , 0.        , 0.        ]])

In [68]:
t1=pd.DataFrame(t.toarray(),columns=cv.get_feature_names())
t1

C:\Users\nilay\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,book,books,did,didn,do,good,he,hobby,into,is,jumped,jumping,jumps,lake,like,my,not,of,out,reading,start,the,this,window,you
0,0.447637,0.000000,0.000000,0.000000,0.352981,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.447637,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.591651,0.000000,0.352981
1,0.471812,0.000000,0.000000,0.000000,0.000000,0.372045,0.000000,0.000000,0.000000,0.311802,0.000000,0.000000,0.000000,0.000000,0.235906,0.000000,0.000000,0.000000,0.000000,0.311802,0.000000,0.000000,0.623605,0.000000,0.000000
2,0.415657,0.000000,0.000000,0.655527,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.415657,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.474072,0.000000,0.000000,0.000000
3,0.347624,0.000000,0.548233,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.347624,0.000000,0.548233,0.000000,0.000000,0.000000,0.000000,0.396478,0.000000,0.000000,0.000000
4,0.000000,0.476474,0.000000,0.000000,0.000000,0.000000,0.000000,0.476474,0.000000,0.399323,0.000000,0.000000,0.000000,0.000000,0.000000,0.476474,0.000000,0.000000,0.000000,0.399323,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.447214,0.000000,0.000000,0.000000,0.000000,0.000000,0.447214,0.000000,0.000000,0.000000,0.000000,0.447214,0.447214,0.000000,0.000000,0.000000,0.000000,0.447214,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.532774,0.000000,0.532774,0.000000,0.000000,0.532774,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.385298,0.000000,0.000000,0.000000

In [ ]:
github.com